body {
  font-family: sans-serif;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.display {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

#result {
  width: 100%;
  font-size: 24px;
  text-align: right;
  border: none;
  outline: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.btn {
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #ccc;
}

.operator {
  background-color: #ff9500;
  color: #fff;
}

.equal {
  background-color: #4caf50;
  color: #fff;
  grid-column: 4 / 5;
  grid-row: 4 / 6;
}
